:root {
	--type-h1: 40px;

	--type-paragraph-regular: 20px;
	--type-paragraph-small: calc(var(--type-paragraph-regular) / 1.3);
	--type-paragraph-large: calc(var(--type-paragraph-regular) * 1.3);

	--type-caption-regular: 12px;
	--type-caption-small: calc(var(--type-caption-regular) / 1.3);
	--type-caption-large: calc(var(--type-caption-regular) * 1.3);

	--color-body-dark: #4b4b4b;
	--color-body-light: #f7f7f7;
	--color-body-back: #283250;

	--color-weather-hot: #FFD470;
	--color-weather-cold: #99C3FF;

	--color-error: #FF2B00;
	--color-success: #0DFFB3;
	--color-warning: #FFBD0D;
}

body,
h1,
div,
span,
p,
section,
header,
i,
a,
ul,
li,
input,
button {
	padding: 0;
	margin: 0;
	font-family: "Roboto";
	box-sizing: border-box;
	text-decoration: none;
}
input {
    color: var(--color-body-dark);
    background-color: var(--color-body-light);
    margin: unset;
    padding: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
}

body {
	background-color: var(--color-body-back);
	color: var(--color-body-light);
}

header {
	padding: 5px 30px;
	background-color: var(--color-body-light);
	color: var(--color-body-dark);
	display: block;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

header>h1 {
	font-size: 16px;
	font-weight: 500;
}

#social-container {
	font-size: 16px;
}

#social-container>a {
	padding: 0 3px;
	color: var(--color-body-dark);
}

#title {
	display: block;
	width: fit-content;
	margin: 35px auto;
}

#main {
	display: block;
	padding: 0 5vw;
}

#search-container{
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#city-input{
	width: 100%;
	padding: 5px;
	font-size: var(--type-paragraph-regular);
	border-radius: 5px;
	display: block;
}

#search-submit{
	padding: 5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-left: 2px solid var(--color-body-back);
}

#search-icon{
	height: 1.5em;
	padding: 0;
	color: var(--color-body-back);
}

.weather-card {
	padding: 30px 25px;
	width: 500px;
	height: 250px;
	background: transparent;
	border: 3px solid var(--color-body-light);
	border-radius: 20px;
	display: flex;
	position: relative;
	left: 50%;
	top: 50vh;
	transform: translate(-50%, -100%);
}

.weather-icon-container {
	width: 40%;
	align-self: center;
	margin-inline-end: 20px;
}

.weather-icon-container>img {
	color: var(--color-weather-hot);
	width: 100%;
	position: relative;
}

.weather-description-container {
	align-self: center;
}

#city-name {
	font-size: var(--type-paragraph-large);
	font-weight: bold;
}

#temp {
	font-size: calc(var(--type-paragraph-large) * 4);
	font-weight: 300;
	line-height: 1em;
	display: inline-block;
	vertical-align: middle;
	width: fit-content;
}

.temp-detail-container {
	display: flex;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

#temp-unit-switch-container {
	display: block;
	font-size: var(--type-paragraph-regular);
}

#temp-desc {
	font-size: calc(var(--type-paragraph-large) * 1.5);
	text-transform: capitalize;
	line-height: 1em;
}

#date-container {
	display: block;
	font-size: var(--type-paragraph-regular);
}

.week-day::after {
	content: ",";
}