@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-sun:before { content: "\f100"; }
.flaticon-002-leaf:before { content: "\f101"; }
.flaticon-003-full-moon:before { content: "\f102"; }
.flaticon-004-cloud:before { content: "\f103"; }
.flaticon-005-snowflake:before { content: "\f104"; }
.flaticon-006-water:before { content: "\f105"; }
.flaticon-007-wind:before { content: "\f106"; }
.flaticon-008-flower:before { content: "\f107"; }
.flaticon-009-wheat:before { content: "\f108"; }
.flaticon-010-tree:before { content: "\f109"; }
.flaticon-011-bamboo:before { content: "\f10a"; }
.flaticon-012-butterfly:before { content: "\f10b"; }
.flaticon-013-grass:before { content: "\f10c"; }
.flaticon-014-tulip:before { content: "\f10d"; }
.flaticon-015-rainbow:before { content: "\f10e"; }
.flaticon-016-rain:before { content: "\f10f"; }
.flaticon-017-sunset:before { content: "\f110"; }
.flaticon-018-mountain:before { content: "\f111"; }
.flaticon-019-mushroom:before { content: "\f112"; }
.flaticon-020-cactus:before { content: "\f113"; }
.flaticon-021-sprout:before { content: "\f114"; }
.flaticon-022-snail:before { content: "\f115"; }
.flaticon-023-river:before { content: "\f116"; }
.flaticon-024-bee:before { content: "\f117"; }
.flaticon-025-lighthouse:before { content: "\f118"; }
.flaticon-026-park:before { content: "\f119"; }
.flaticon-027-flower:before { content: "\f11a"; }
.flaticon-028-sun:before { content: "\f11b"; }
.flaticon-029-forest:before { content: "\f11c"; }
.flaticon-030-coconut-tree:before { content: "\f11d"; }
.flaticon-031-sunrise:before { content: "\f11e"; }
.flaticon-032-volcano:before { content: "\f11f"; }
.flaticon-033-sea:before { content: "\f120"; }
.flaticon-034-pine:before { content: "\f121"; }
.flaticon-035-beehive:before { content: "\f122"; }
.flaticon-036-earth:before { content: "\f123"; }
.flaticon-037-snow:before { content: "\f124"; }
.flaticon-038-moon:before { content: "\f125"; }
.flaticon-039-plant:before { content: "\f126"; }
.flaticon-040-iceberg:before { content: "\f127"; }
.flaticon-041-desert:before { content: "\f128"; }
.flaticon-042-ladybug:before { content: "\f129"; }
.flaticon-043-waterfall:before { content: "\f12a"; }
.flaticon-044-lake:before { content: "\f12b"; }
.flaticon-045-cactus:before { content: "\f12c"; }
.flaticon-046-macaw:before { content: "\f12d"; }
.flaticon-047-green-earth:before { content: "\f12e"; }
.flaticon-048-fish:before { content: "\f12f"; }
.flaticon-049-beach:before { content: "\f130"; }
.flaticon-050-rock:before { content: "\f131"; }

$font-Flaticon-001-sun: "\f100";
$font-Flaticon-002-leaf: "\f101";
$font-Flaticon-003-full-moon: "\f102";
$font-Flaticon-004-cloud: "\f103";
$font-Flaticon-005-snowflake: "\f104";
$font-Flaticon-006-water: "\f105";
$font-Flaticon-007-wind: "\f106";
$font-Flaticon-008-flower: "\f107";
$font-Flaticon-009-wheat: "\f108";
$font-Flaticon-010-tree: "\f109";
$font-Flaticon-011-bamboo: "\f10a";
$font-Flaticon-012-butterfly: "\f10b";
$font-Flaticon-013-grass: "\f10c";
$font-Flaticon-014-tulip: "\f10d";
$font-Flaticon-015-rainbow: "\f10e";
$font-Flaticon-016-rain: "\f10f";
$font-Flaticon-017-sunset: "\f110";
$font-Flaticon-018-mountain: "\f111";
$font-Flaticon-019-mushroom: "\f112";
$font-Flaticon-020-cactus: "\f113";
$font-Flaticon-021-sprout: "\f114";
$font-Flaticon-022-snail: "\f115";
$font-Flaticon-023-river: "\f116";
$font-Flaticon-024-bee: "\f117";
$font-Flaticon-025-lighthouse: "\f118";
$font-Flaticon-026-park: "\f119";
$font-Flaticon-027-flower: "\f11a";
$font-Flaticon-028-sun: "\f11b";
$font-Flaticon-029-forest: "\f11c";
$font-Flaticon-030-coconut-tree: "\f11d";
$font-Flaticon-031-sunrise: "\f11e";
$font-Flaticon-032-volcano: "\f11f";
$font-Flaticon-033-sea: "\f120";
$font-Flaticon-034-pine: "\f121";
$font-Flaticon-035-beehive: "\f122";
$font-Flaticon-036-earth: "\f123";
$font-Flaticon-037-snow: "\f124";
$font-Flaticon-038-moon: "\f125";
$font-Flaticon-039-plant: "\f126";
$font-Flaticon-040-iceberg: "\f127";
$font-Flaticon-041-desert: "\f128";
$font-Flaticon-042-ladybug: "\f129";
$font-Flaticon-043-waterfall: "\f12a";
$font-Flaticon-044-lake: "\f12b";
$font-Flaticon-045-cactus: "\f12c";
$font-Flaticon-046-macaw: "\f12d";
$font-Flaticon-047-green-earth: "\f12e";
$font-Flaticon-048-fish: "\f12f";
$font-Flaticon-049-beach: "\f130";
$font-Flaticon-050-rock: "\f131";